server:
  port: ${APPLICATION_PORT}

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME} # 데이터베이스 커넥션 이름
    password: ${DB_PASSWORD} # 데이터베이스 커넥션 비밀번호
    url: ${DB_URL}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true

  output:
    ansi:
      enabled: always

logging:
  file:
    name: ${LOG_PATH}
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace